header {                            /*Começo do topo*/
    position: relative;
    width: 750px;
    height: 245px;
    margin: 0px auto;
}

nav {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 631px;
    height: 45px;
    line-height: 45px;
    background-color: var(--vermelho-escuro);
}

nav > a {
    padding: 13px 18px 13px 14px;
    background: url(imagens/divisor.png) no-repeat left center;
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

nav > a:hover {
    color: var(--vermelho-hover);
    background-color: var(--vermelho-claro);
}

nav > a:nth-child(1) {
    background-image: none;
}

#logo-imagem_1 {
    position: absolute;
    top: 10%;
    left: 0%;
    background: url(imagens/logo.png) no-repeat center;
    height: 70px;
    width: 155px;
}

#logo-imagem_2 {
    position: absolute;
    top: 0%;
    right: 0%;
    background: url(imagens/detalhe-topo.png);
    height: 180px;
    width: 175px;
}                                   /*Fim do topo*/



main {
    position: relative;
    margin: 0px auto;                
    width: 750px;
    height: 674px;
}  
 


hr {                          /*Começo da barra lateral*/
    border: 1px solid rgba(0, 0, 0, 0.089);
}

.titulo {
    font-size: 16px;
    padding: 5px;
    text-align: left;
    color: white;
    background-color: var(--azul);
}

#barra-lateral {
    border: 3px solid var(--borda);
    width: 170px;
    padding: 5px;
}

#barra-lateral a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

#barra-lateral a:hover {
    padding-left: 20px;
    color: gray;
    background: url(imagens/marcador.png) no-repeat left center;
}                             /*Fim da barra lateral*/



#caixa-conteudo_1 {           /*Primeira caixa de conteúdo*/
    border: 3px solid var(--borda);
    position: absolute;
    top: -1px;
    left: 200px;
    width: 250px;
    height: 275px;
    padding: 5px;
}

.link {
    color: var(--vermelho-escuro);
    transition-duration: 0.5s;
}

.link:hover {
    padding-left: 7px;
    font-size: 19px;
}

.imagem-conteudo {
    border: 3px solid var(--borda);
    display: block;
    margin: 0px auto;
    width: 98%;
}

.paragrafo-destaque_1 {
    text-transform: uppercase;
    padding: 0px 5px;
    margin: 1px;
    width: 130px;
    color: white;
    background-color: var(--vermelho-escuro);
}                       /*Fim da primeira caixa de conteúdo*/



#caixa-conteudo_2 {        /*Segunda caixa de conteúdo*/
    border: 3px solid var(--borda);
    position: absolute;
    top: -1px;
    left: 480px;
    width: 250px;
    height: 275px;
    padding: 5px;
}

.paragrafo-destaque_2 {
    text-transform: uppercase;
    padding: 0px 5px;
    margin: 1px;
    width: 213px;
    color: white;
    background-color: var(--vermelho-escuro);
}                       /*Fim da segunda caixa de conteúdo*/



#caixa-conteudo_3 {              /*Terceira caixa de conteúdo*/
    border: 3px solid var(--borda);
    position: absolute;
    top: 300px;
    left: 480px;
    width: 250px;
    height: 340px;
    padding: 5px;
}

.lista-noticias li {
    border: 2px solid var(--borda);
    padding: 2px;
    height: 65px;
    margin-top: 5px;
}

.lista-noticias li a img {
    float: left;
    margin: 5px;
}

.lista-noticias li a {
    color: black;
    text-decoration: none;
    font-size: 0.7em;
}

.lista-noticias li:hover {
    background-color: var(--li-hover);
}

.lista-noticias li h3 {
    text-transform: uppercase;
    color: var(--azul);
}

.imagem-conteudo_3 {
    text-align: left;
    width: 30%;
    margin-top: 10px;
}                        /*Fim da terceira caixa de conteúdo*/



#caixa-conteudo_4 {
    border: 3px solid var(--borda);
    position: absolute;
    top: 300px;
    left: 200px;
    width: 250px;
    height: 340px;
    padding: 5px;
}



#news {
    position: absolute;
    top: 365px;
    left: 0px;
    border: 3px solid var(--borda);
    width: 180px;
}

.cadastrar {
    font-size: 14px;
    color: white;
    padding: 5px;
    height: 30px;
    margin: 5px;
    border: 1px solid var(--vermelho-hover);
    background-color: var(--vermelho-escuro);
}

.email {
    margin: 5px;
    width: 155px;
}

.email-span {
    font-weight: bold;
    margin: 5px;
}

footer {
    color: white;
    text-align: center;
    line-height: 50px;
    height: 50px;
    background-color: var(--azul);
}